@media only screen and (max-width:992px){


    /*CSS banner*/


#banner img{

        height: 600px;
        object-fit:cover;
        object-position: 50%;
        -webkit-filter: brightness(50%);
        filter: brightness(50%);
}
 .username{
    position: absolute;
    top: 25%;
    left: 50%;
    display: block;
    color: beige;
    font-size: 10px;
        
    transform: translateX(-50%);
}

/*CSS nav*/
.nav-name{

    height: 38px;
    width: 40px;
}
.nav-name div{
    display: none;
   
}
/*CSS about-info*/
#about-info{
 
    padding: 0px 50px 0px 50px;
}
.my{
    min-height: auto;
}

/*CSS Certificate*/
#certificate{
    padding: 20px 30px 20px 30px;
    margin: 0px 20px 0px 20px;
    background: #f7f7f7;
  }

  .item-certificate{
    display: block
}
.item-certificate img {
    margin: 0px 0px 10px 0px;
}
.item-certificate div h5{
    margin-top: 10px;
}

/*CSS Project*/
#project{
    padding: 20px 30px 20px 30px;
}
.my-position{
    display: block;
}
}